<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- SHARED HEAD -->
    <%- include('partials/sharedHead') %> 

    <!-- PAGE HEAD -->
    <link rel="stylesheet" href="/styles/home.css">

    <script type="text/javascript">
        /* Submit product form when user clicks on div -> redirects to product page */
        $(function () {
            $(".product").on("click", function () {
                $(this).submit();
            });

        });

    </script>

</head>

<body>

    <div class="page-container">

        <!-- header partial -->
        <%- include('partials/header'); %>

            <div id="first-level-filters">
                <form method="GET" id="dropdown-filters-form" action="/">
                    <div id="country-select-div">
                        <label for="country-select">Country:</label>
                        <select name="country" id="country-select">
                            <% if(appliedFilters.chosenCountry !='All' ){ %>
                                <option value='All'>All</option>
                                <% } %>
                                    <option value=<%=appliedFilters.chosenCountry %> selected><%=
                                            appliedFilters.chosenCountry %>
                                    </option>
                                    <% allCountries.forEach(function(country_obj){ %>
                                        <% if(country_obj !=appliedFilters.chosenCountry){ %>
                                            <option value=<%=country_obj %>><%= country_obj %>
                                            </option>
                                            <% } %>
                                                <% }) %>
                        </select>
                    </div>
                    <div id="city-select-div">
                        <label for="city-select">City:</label>
                        <select name="city" id="city-select">
                            <% if(appliedFilters.chosenCity !='All' ){ %>
                                <option value='All'>All</option>
                                <% } %>
                                    <option value=<%=appliedFilters.chosenCountry %> selected><%=
                                            appliedFilters.chosenCity %>
                                    </option>
                                    <% cities.forEach(function(city_obj){ %>
                                        <% if(city_obj !=appliedFilters.chosenCity){ %>
                                            <option value=<%=city_obj %>><%= city_obj %>
                                            </option>
                                            <% } %>
                                                <% }) %>
                        </select>
                    </div>
                    <div id="category-select-div">
                        <label for="category-select">Category:</label>
                        <select name="category" id="category-select">
                            <% if(appliedFilters.chosenCategory !='All' ){ %>
                                <option value='All'>All</option>
                                <% } %>
                                    <option value=<%=appliedFilters.chosenCategory %> selected><%=
                                            appliedFilters.chosenCategory %>
                                    </option>
                                    <% categories.forEach(function(category){ %>
                                        <% if(category !=appliedFilters.chosenCategory){ %>
                                            <option value=<%=category %>><%= category %>
                                            </option>
                                            <% } %>
                                                <% }) %>
                        </select>
                    </div>
                    <div id="color-select-div">
                        <label for="color-select">Color:</label>
                        <select name="color" id="color-select">
                            <% if(appliedFilters.chosenColor !='All' ){ %>
                                <option value='All'>All</option>
                                <% } %>
                                    <option value=<%=appliedFilters.chosenColor %> selected><%=
                                            appliedFilters.chosenColor %>
                                    </option>
                                    <% colors.forEach(function(color){ %>
                                        <% if(color !=appliedFilters.chosenColor){ %>
                                            <option value=<%=color %>><%= color %>
                                            </option>
                                            <% } %>
                                                <% }) %>
                        </select>
                    </div>
                    <div id="weddingType-select-div">
                        <label for="weddingType-select">Wedding Type:</label>
                        <select name="weddingType" id="weddingType-select">
                            <% if(appliedFilters.chosenWeddingType !='All' ){ %>
                                <option value='All'>All</option>
                            <% } %>
                            <option value=<%=appliedFilters.chosenWeddingType %> selected><%=
                                    appliedFilters.chosenWeddingType %>
                            </option>
                            <% weddingTypes.forEach(function(weddingType){ %>
                                <% if(weddingType !=appliedFilters.chosenWeddingType){ %>
                                    <option value=<%=weddingType %>><%= weddingType %>
                                    </option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <input id="submit-search-filters" type="submit" value="Submit">
                </form>
            </div>
    </div>
    <div class="orders-container">
        <% if(products.length==0){ %>
            <div class="no-results">
                <p>We couldn't find anything matching your search results</p>
            </div>
            <% } %>
                <% products.forEach(function(product){ %>

                    <form method="GET" class="product" action="/product_details/<%= product.product_id %>">
                        <div class="picture-and-description">
                            <div class="product-photo"
                                style="background-image: url('https://cdn.shopify.com/s/files/1/0270/3248/5970/t/4/assets/pf-ccaac636--WeddingCakesCover.png?v=1583852616');">
                            </div>
                            <div class="product-description">
                                <h5>
                                    <%= product.title %>
                                </h5>
                                <p class="product-description-text">
                                    <%= product.description %>
                                </p>
                                <p>Colors available: <%= product.colors %>
                                </p>
                                <p class="vendor-details">
                                    <%= product.vendor %>, <%= product.address %>
                                </p>
                                <div class="stars-rating">
                                    <% if (product.stars>= 1) { %>
                                        <span class="fa fa-star checked"></span>
                                        <% } else{ %>
                                            <span class="fa fa-star"></span>
                                            <% } %>
                                                <% if (product.stars>= 2) { %>
                                                    <span class="fa fa-star checked"></span>
                                                    <% } else{ %>
                                                        <span class="fa fa-star"></span>
                                                        <% } %>
                                                            <% if (product.stars>= 3) { %>
                                                                <span class="fa fa-star checked"></span>
                                                                <% } else{ %>
                                                                    <span class="fa fa-star"></span>
                                                                    <% } %>
                                                                        <% if (product.stars>= 4) { %>
                                                                            <span class="fa fa-star checked"></span>
                                                                            <% } else{ %>
                                                                                <span class="fa fa-star"></span>
                                                                                <% } %>
                                                                                    <% if (product.stars>= 5) { %>
                                                                                        <span
                                                                                            class="fa fa-star checked"></span>
                                                                                        <% } else{ %>
                                                                                            <span
                                                                                                class="fa fa-star"></span>
                                                                                            <% } %>
                                </div>
                                <div class="rating-and-reviews">
                                    <p>Rating: <%= product.stars %>/5</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= product.number_reviews %> Reviews</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-to-right-boxes">
                            <div class="rightest-box">
                                <i class="fa fa-shopping-cart"></i>
                                <p>Quantity:</p>
                                <input class="product-number-input" type="number" />
                                <p>Price per unit: <%= product.currency %>
                                        <%= product.price %>
                                </p>
                                <button onclick="" class="btn">Add to basket</button>
                            </div>
                        </div>
                        <input input type="hidden" id="first" type="text" name="product_id"
                            value="<%= product.product_id %>" />
                    </form>
                    <% }) %>
    </div>
    <div id="page-navigation">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>

    <!-- footer partial -->
    <%- include('partials/footer'); %>

    <!-- auth modal partial -->
    <%- include('partials/authModal'); %>

    <!-- firebase interaction scrips -->
    <%- include('partials/firebaseInteraction') %> 
</body>

</html>