<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Registration</title>
    <!-- SHARED HEAD -->
    <%- include('partials/sharedHead') %> 
</head>

<body>
    <%- include('partials/header') %>

        <p>
            <%= product.title %>
        </p>

        <!-- Footer partial -->
        <%- include('partials/footer') %>

        <!-- auth partial -->
        <%- include('partials/authModal') %>
        
        <!-- firebase interaction scrips -->
        <%- include('partials/firebaseInteraction') %> 
</body>

</html>