<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendor Registration</title>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %> 
 
  <!-- PAGE HEAD -->
  <link rel="stylesheet" href="/styles/vendor-profile.css">
  <script src="/js/vendor_profile.js" type="text/javascript" defer></script>

</head>

<body>
  <div class="page-container">
    <!-- header partial -->
    <%- include('partials/header') %>
      <main>
        <div class="main-container">
          <div class="tab">
            <button id="openProfileTab" class="tablinks active" onclick="openUserProfile(event, 'Profile')">Personal
              Information</button>
            <button id="openCatalogueTab" class="tablinks" onclick="openUserProfile(event, 'catalogue')">My catalogue</button>
            <button id="openOrdersTab" class="tablinks" onclick="openUserProfile(event, 'orders')">Orders</button>
          </div>

          <div id="Profile" class="tabcontent">
            <div class="tab-content-container">
              <div class="tab-content">
                <h3 class="tab-title">Personal Information</h3>
              </div>

              <div class="tab-content" id="profile-pic-container">

                <% if(user.profile_picture == null || user.profile_picture == ""){ %>
                  <img id="profile-pic" src="/assets/blank-profile-picture-png.png" alt="User profile picture">
                <% } else{ %>
                  <img id="profile-pic" src="<%= user.profile_picture %>" alt="User profile picture">
                <% }%>

                <input type="file" style="display: none;" id="profile-pic-input" name="profile-pic-input" accept="image/*" onchange="updateProfilePic()">
                <button type="button" id="change-picture" class="btn btn-primary" onclick="uploadTrigger()">Update profile picture</button>
              </div>
              <div class="tab-content" id="user-details">
                <form id="user-details" method="POST" action="/users/<%= user.user_id %>/profile">
                  <div class="container user-details">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <!-- Email -->
                          <label>Email</label>
                          <input disabled type="email" id="email" class="form-control form-control" placeholder="Email" value="<%= user.email %>" required>
                        </div>
                        <div class="row">
                          <!-- Phone number -->
                          <label>Phone number</label>
                          <% if(user.phone_number == null | user.phone_number == ""){ %>
                            <input disabled type="text" inputmode="numeric" name="phone_number" id="phone_number" class="form-control form-control"
                            placeholder="Phone Number" value="" required>
                          <% } else{ %>
                            <input disabled type="text" inputmode="numeric" name="phone_number" id="phone_number" class="form-control form-control"
                            placeholder="Phone Number" value="<%= user.phone_number %>" required>
                          <% }%>
                        </div>
                        <div class="row">
                          <!-- Address 1 -->
                          <label>Address of your wedding location</label>
                          <% if(user.address_1 == null){ %>
                            <input disabled type="text" id="address_1" class="form-control"
                            placeholder="Address of your wedding location" value="" %>" required>
                          <% } else{ %>
                            <input disabled type="text" id="address_1" class="form-control"
                            placeholder="Address of your wedding location" value="<%= user.address_1 %>" required>
                          <% }%>
                          
                        </div>
                        <div class="row">
                          <!-- Postal Code -->
                          <label>Postal code</label>
                          <input disabled type="text" name="post_code" id="post_code" class="form-control" placeholder="Postal Code" value="<%= user.post_code %>" required>
                        </div>
                        <div class="row">
                          <!-- City -->
                          <label>City</label>
                          <input disabled type="text" name="city" id="city" class="form-control" placeholder="City" value="<%= user.city %>" required>
                        </div>
                        <div class="row">
                          <!-- Country -->
                          <label>Country</label>
                          <select disabled id="country" name="country" class="form-control" required>
                            <option value="" disabled selected hidden>Country</option>
                            <option selected value="<%= user.country %>"><%= user.country %></option>
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Åland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua &amp; Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AC">Ascension Island</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia &amp; Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="VG">British Virgin Islands</option>
                            <option value="BN">Brunei</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="BQ">Caribbean Netherlands</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo - Brazzaville</option>
                            <option value="CD">Congo - Kinshasa</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d’Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czechia</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="SZ">Eswatini</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Islas Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard &amp; McDonald Islands</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="XK">Kosovo</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Laos</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia</option>
                            <option value="MD">Moldova</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar (Burma)</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="KP">North Korea</option>
                            <option value="MK">North Macedonia</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestine</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn Islands</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russia</option>
                            <option value="RW">Rwanda</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">São Tomé &amp; Príncipe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SX">Sint Maarten</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                            <option value="KR">South Korea</option>
                            <option value="SS">South Sudan</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="BL">St Barthélemy</option>
                            <option value="SH">St Helena</option>
                            <option value="KN">St Kitts &amp; Nevis</option>
                            <option value="LC">St Lucia</option>
                            <option value="MF">St Martin</option>
                            <option value="PM">St Pierre &amp; Miquelon</option>
                            <option value="VC">St Vincent &amp; Grenadines</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard &amp; Jan Mayen</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="TW">Taiwan</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad &amp; Tobago</option>
                            <option value="TA">Tristan da Cunha</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks &amp; Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UY">Uruguay</option>
                            <option value="UM">US Outlying Islands</option>
                            <option value="VI">US Virgin Islands</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VA">Vatican City</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Vietnam</option>
                            <option value="WF">Wallis &amp; Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <button type="button" id="edit-user-details" class="btn btn-primary">Edit</button>
                <button id="delete-account-button" class="btn btn-danger">Delete Account</button>
              </div>
            </div>
          </div>

          <!-- Catalogue tab -->
          <div id="catalogue" class="tabcontent">
            <div class="tab-content-container">
              <div class="tab-content" id="wishlist-tab-content">
                <h3 class="tab-title">Catalogue</h3>
                <!-- Add to catalogue button -->
                <button type="button" id="add-to-catalogue-button" class="btn btn-light">Add To Catalogue</button>
                <!-- Container for catalogue -->
                <div id="catalogue-container"></div>
              </div>
            </div>
          </div>

          <!-- Order tab -->
          <div id="orders" class="tabcontent">
            <div class="tab-content-container">
              <div class="tab-content">
                <h3 class="tab-title">Orders</h3>
                <!-- Orders container -->
                <div class="orders-container"></div> 
              </div>
            </div>
          </div> <!-- end id="orders" class="tabcontent" -->
        </div>
      </main>

      <!-- Modal to add item to catalogue -->
      <div id="add-to-catalogue-modal">
        <div id="add-to-catalogue-modal-content">
          <button id="catalogue-close">&times</button>
          <h3 class="create-product-header">Create Product</h3>
          <form id="create-product-form">
            <!-- image upload -->
              <div class="row align-items-center">
                <label class="create-product-image">
                  <input type="file" id="create-product-image" accept=".jpg, .jpeg, .png" required>
                  Upload Image
                </label>
                <span class="create-product-error" id="error-image"></span>
              </div>
              <!-- create name -->
              <div class="row align-items-center">
                <input type="text" id="create-product-name" placeholder="Product Name" required>
              </div>
              <!-- create description -->
              <div class="row align-items-center">
                <input type="text" id="create-product-description" placeholder="Item description" required>
              </div>
              <!-- create wedding type -->
              <div class="row align-items-center">
                <label for="wedding_type">
                  Wedding type:
                  <select name="wedding_type" id="create-wedding-type">
                    <option disabled selected value> -- select an option -- </option>
                  </select>
                </label>
              </div>
              <!-- product category -->
              <div class="row align-items-center">
                <label for="wedding-category">
                  Wedding Category:
                  <select name="wedding_category" id="create-wedding-category">
                    <option disabled selected value> -- select an option -- </option>
                  </select>
                </label>
              </div>
              <!-- Available Countries -->
              <fieldset>
                <legend>Available Countries</legend>
                <div class="row">
                  <div class="col">
                    <input type="checkbox" name="countryCheck" id="uk" value="UK">
                    <label for="uk">UK</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" name="countryCheck" id="italy" value="Italy">
                    <label for="italy">Italy</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" name="countryCheck" id="india" value="India">
                    <label for="india">India</label>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <input type="checkbox" name="countryCheck" id="japan" value="Japan">
                      <label for="japan">Japan</label>
                    </div>
                    <div class="col">
                      <input type="checkbox" name="countryCheck" id="hong-kong" value="Hong Kong">
                      <label for="hong-kong">Hong Kong</label>
                    </div>
                    <div class="col">
                      <input type="checkbox" name="countryCheck" id="norway" value="Norway">
                    <label for="norway">Norway</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Price -->
              <div class="row align-items-center">
                <input type="number" id="create-product-price" placeholder="Price" required>
              </div>
              <!-- Currency -->
              <div class="row align-items-center">
                <select name="currency" id="create-product-currency">
                  <option value="£" selected>GBP</option>
                  <option value="$">USD</option>
                  <option value="NOK">NOK</option>
                  <option value="€">Euro</option>
                  <option value="₹">INR</option>
                  <option value="HK$">HKD</option>
                  <option value="¥">JPY</option>
                </select>
              </div>
              <!-- Wedding colour available -->
              <fieldset>
                <legend>Available Colours:</legend>
                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="black" name="colourCheck" value="black">
                    <label for="black">Black</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="grey" name="colourCheck" value="grey">
                    <label for="grey">grey</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="red" name="colourCheck" value="red">
                    <label for="red">red</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="orange" name="colourCheck" value="orange">
                    <label for="orange">orange</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="yellow" name="colourCheck" value="yellow">                
                    <label for="yellow">yellow</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="cyan" name="colourCheck" value="cyan">
                    <label for="cyan">cyan</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="blue" name="colourCheck" value="blue">
                    <label for="blue">blue</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="magenta" name="colourCheck" value="magenta">
                    <label for="magenta">magenta</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="purple" name="colourCheck" value="purple">
                    <label for="purple">purple</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="white" name="colourCheck" value="white">
                    <label for="white">white</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="silver" name="colourCheck" value="silver">
                    <label for="silver">silver</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="pink" name="colourCheck" value="pink">
                    <label for="pink">pink</label>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="maroon" name="colourCheck" value="maroon">
                    <label for="maroon">maroon</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="brown" name="colourCheck" value="brown">
                    <label for="brown">brown</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="beige" name="colourCheck" value="beige">
                    <label for="beige">beige</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="tan" name="colourCheck" value="tan">
                    <label for="tan">tan</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="peach" name="colourCheck" value="peach">
                    <label for="peach">peach</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="lime" name="colourCheck" value="lime">
                    <label for="lime">lime</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="olive" name="colourCheck" value="olive">
                    <label for="olive">olive</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="turquoise" name="colourCheck" value="turquoise">
                    <label for="turquoise">turquoise</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="teal" name="colourCheck" value="teal">
                    <label for="teal">teal</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="indigo" name="colourCheck" value="indigo">
                    <label for="indigo">indigo</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="black" name="colourCheck" value="violet">
                    <label for="violet">violet</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="colour-checkbox" id="green" name="colourCheck" value="green">
                    <label for="green">green</label>
                  </div>
                </div>
            </fieldset>
              <div class="row align-items-center">
                <button id="create-product-button" type="submit" class="btn mb-3">Create Product</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Hidden modal, shown when editing vendor details -->
      <div id="edit-modal">
        <div id="edit-content">
          <button id="product-edit-close">&times</button>
          <h3 class="create-product-header">Edit Details</h3>
          <form id="edit-details">
            <!-- name -->
            <div class="row align-items-center">
              <input type="text" id="edit-name">
            </div>
            <!-- email -->
            <div class="row align-items-center">
              <input type="text" id="edit-email">
            </div>
            <!-- number -->
            <div class="row align-items-center">
              <input type="number" id="edit-number">
            </div>
            <!-- address 1 -->
            <div class="row align-items-center">
              <input type="text" id="edit-address-1">
            </div>
            <!-- address 2 -->
            <div class="row align-items-center">
              <input type="text" id="edit-address-2">
            </div>
            <!-- post code -->
            <div class="row align-items-center">
              <input type="text" id="edit-post-code">
            </div>
            <!-- city -->
            <div class="row align-items-center">
              <input type="text" id="edit-city">
            </div>
            <!-- country -->
            <div class="row align-items-center">
              <input type="text" id="edit-country">
            </div>
            <div class="row align-items-center">
              <button id="save-edit" type="submit" class="btn mb-3">Save Changes</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Hidden modal, shown when editing a product -->
      <div id="product-edit-modal">
        <div id="product-edit-content">
          <button id="product-edit-close">&times</button>
          <h3 class="create-product-header">Edit Product Details</h3>
          <form id="product-edit-details">
            <!-- product-title -->
            <div class="row align-items-center">
              <input type="text" id="product-edit-title">
            </div>
            <div class="row align-items-center">
              <input type="text" id="product-edit-description">
            </div>
            <!-- price -->
            <div class="row align-items-center">
              <input type="text" id="product-edit-price">
            </div>
            <!-- Currency -->
            <div class="row align-items-center">
              <select name="currency" id="edit-product-currency">
                <option class="currency-edit" value="£">GBP</option>
                <option class="currency-edit" value="$">USD</option>
                <option class="currency-edit" value="NOK">NOK</option>
                <option class="currency-edit" value="€">Euro</option>
                <option class="currency-edit" value="₹">INR</option>
                <option class="currency-edit" value="HK$">HKD</option>
                <option class="currency-edit" value="¥">JPY</option>
              </select>
            </div>
            <!-- Available Countries -->
            <fieldset>
              <legend>Available Countries</legend>
              <div class="row">
                <div class="col">
                  <input type="checkbox" name="countryCheckEdit" id="uk-Edit" value="UK">
                  <label for="uk">UK</label>
                </div>
                <div class="col">
                  <input type="checkbox" name="countryCheckEdit" id="italy-Edit" value="Italy">
                  <label for="italy">Italy</label>
                </div>
                <div class="col">
                  <input type="checkbox" name="countryCheckEdit" id="india-Edit" value="India">
                  <label for="india">India</label>
                </div>
                
                <div class="row">
                  <div class="col">
                    <input type="checkbox" name="countryCheckEdit" id="japan-Edit" value="Japan">
                    <label for="japan">Japan</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" name="countryCheckEdit" id="hong-kong-Edit" value="Hong Kong">
                    <label for="hong-kong">Hong Kong</label>
                  </div>
                  <div class="col">
                    <input type="checkbox" name="countryCheckEdit" id="norway-Edit" value="Norway">
                  <label for="norway">Norway</label>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Colours -->
            <fieldset>
              <legend>Available Colours:</legend>
              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="black-edit" name="colourCheck" value="black">
                  <label for="black">Black</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="grey-edit" name="colourCheck" value="grey">
                  <label for="grey">grey</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="red-edit" name="colourCheck" value="red">
                  <label for="red">red</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="orange-edit" name="colourCheck" value="orange">
                  <label for="orange">orange</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="yellow-edit" name="colourCheck" value="yellow">                
                  <label for="yellow">yellow</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="cyan-edit" name="colourCheck" value="cyan">
                  <label for="cyan">cyan</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="blue-edit" name="colourCheck" value="blue">
                  <label for="blue">blue</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="magenta-edit" name="colourCheck" value="magenta">
                  <label for="magenta">magenta</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="purple-edit" name="colourCheck" value="purple">
                  <label for="purple">purple</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="white-edit" name="colourCheck" value="white">
                  <label for="white">white</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="silver-edit" name="colourCheck" value="silver">
                  <label for="silver">silver</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="pink-edit" name="colourCheck" value="pink">
                  <label for="pink">pink</label>
                </div>
              </div>
              
              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="maroon-edit" name="colourCheck" value="maroon">
                  <label for="maroon">maroon</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="brown-edit" name="colourCheck" value="brown">
                  <label for="brown">brown</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="beige-edit" name="colourCheck" value="beige">
                  <label for="beige">beige</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="tan-edit" name="colourCheck" value="tan">
                  <label for="tan">tan</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="peach-edit" name="colourCheck" value="peach">
                  <label for="peach">peach</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="lime-edit" name="colourCheck" value="lime">
                  <label for="lime">lime</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="olive-edit" name="colourCheck" value="olive">
                  <label for="olive">olive</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="turquoise-edit" name="colourCheck" value="turquoise">
                  <label for="turquoise">turquoise</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="teal-edit" name="colourCheck" value="teal">
                  <label for="teal">teal</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="indigo-edit" name="colourCheck" value="indigo">
                  <label for="indigo">indigo</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="black-edit" name="colourCheck" value="violet">
                  <label for="violet">violet</label>
                </div>
                <div class="col">
                  <input type="checkbox" class="colour-checkbox" id="green-edit" name="colourCheck" value="green">
                  <label for="green">green</label>
                </div>
              </div>
          </fieldset>
          <!--  -->
            
            <!-- Save changes -->
            <div class="row align-items-center">
              <button id="save-product-edit" type="submit" class="btn mb-3">Save Product Changes</button>
            </div>
          </form>
        </div>
      </div>

      <!-- delete account partial -->
      <%- include('partials/deleteAccountModal') %> 

      <!-- footer partial -->
      <%- include('partials/footer') %>

      <!-- auth partial -->
      <%- include('partials/authModal') %>

      <!-- firebase interaction scrips -->
      <%- include('partials/firebaseInteraction') %> 
      <script src="/js/user_profile.js" type="text/javascript" defer></script>
      <script src="/js/vendorProfile.js" type="text/javascript" defer></script>
</body>
</html>